section {
  padding-inline: 1rem;
}
/* Hero section */
.hero {
  height: 100vh;
  padding-top: 20%;
  background-image: url(../assets/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-content {
  width: 100%;
}
.hero-content p {
  margin-top: 2rem;
}
.container__hero-content {
  margin: 0 auto;
  max-width: 1300px;
}
.hero-content h1 span {
  color: #10acf4;
}
.subtitle {
  font-family: "Hubballi";
  line-height: 1.1;
  font-size: 3rem;
  color: #555;
  margin-left: 0.25rem;
}
.hero-btn {
  border-radius: 40px;
  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  transition: 0.2s ease-in-out;
}
.hero-btn:first-child {
  background-color: #10acf4;
  border: 2px solid #10acf4;
  color: #fff;
}
.hero-btn:last-child {
  background-color: #fff;
  border: 2px solid #10acf4;
  color: #333;
}
.hero-btn:hover {
  transform: scale(1.02);
}
.hero-btn:first-child:hover {
  background-color: #27bbff;
  border-color: #27bbff;
}
.container__hero-btns {
  display: flex;
  flex-wrap: wrap;
}
.container__cards {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.stats-card {
  margin-top: 0.5rem;
}
.stats-card:not(:last-child),
.hero-btn:not(:last-child) {
  margin-right: 0.5rem;
}
.stats-card b {
  font-size: 1.25rem;
}
.stats-card p {
  margin: 0;
}

/* Services section */
.services {
  padding-block: 2rem;
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
}
.service {
  display: flex;
  flex-direction: column;
  min-height: 350px;
  text-align: start;
}
.service-img {
  min-height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.service-img-1 {
  background-image: url(../assets/screwdriver.png);
}
.service-img-2 {
  background-image: url(../assets/gardening.png);
}
.service-img-3 {
  background-image: url(../assets/tools.png);
}

/* Contact */
.contact-form {
  margin-block: 3rem;
  text-align: center;
}
.contact-form span {
  color: #10acf4;
}
.container__contact {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  text-align: start;
  max-width: 600px;
  margin: 0 auto;
}
.container__contact-info {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.container__contact-info b,
.container__contact-info p {
  margin: 0;
  display: block;
}
.icon {
  max-width: 28px;
  margin: 0 auto 0.5rem;
}
.email-link:hover {
  text-decoration: underline !important;
}
.contact-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-item__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-item__info a {
  color: #10acf4;
}
.container__contact div {
  min-width: 200px;
  flex-grow: 1;
}
.container__contact input,
.container__contact textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  max-width: 600px;
}
.container__contact label {
  margin-top: 0.5rem;
}
.container__contact span {
  color: #f00;
  margin-right: 0.125rem;
}
.container__contact button {
  background-color: #10acf4;
  color: #fff;
  width: 100%;
}
.input-error {
  font-size: 0.75rem;
  color: #f00;
  font-style: italic;
  margin: 0;
  margin-top: -0.25rem;
}
.input-error-placeholder {
  visibility: hidden;
}

/* Media queries */
@media screen and (min-width: 600px) {
  section {
    padding-inline: 2rem;
  }
  .hero {
    padding-top: 15%;
  }
  .hero-content {
    max-width: 50%;
  }
  .container__contact-info {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .contact-item {
    flex-direction: row;
    align-items: center;
  }
  .contact-item__info {
    margin-left: 1rem;
    align-items: flex-start;
  }
  .icon {
    margin: 0;
  }
}

@media screen and (min-width: 800px) {
  .services {
    border-top: 1px solid #e0e0e0;
  }
  .container__cards {
    flex-direction: row;
  }
  .stats-card {
    text-align: center;
  }
  .stats-card b {
    font-size: 2rem;
  }
  .stats-card:not(:last-child),
  .hero-btn:not(:last-child) {
    margin-right: 1.5rem;
  }

  /* Services */
  .service {
    flex-direction: row;
  }
  .service:nth-child(odd) {
    flex-direction: row-reverse;
    text-align: start;
  }
  .service:nth-child(even) {
    text-align: end;
  }
  .service-text {
    padding-inline: 2rem;
  }
  .service-description,
  .service-img {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
