.footer {
  border: 1px solid sandybrown;
  padding: 1rem;
}
.container__footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-logo {
  max-width: 300px;
}
.container__footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
